
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


/*this controls the font on the navbar*/
.navbar-brand-custom {
    font-family: 'Michroma', cursive;
    
}
/*This adjust the text"faculty portal"to the left side of the page*/
.logo-container {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1rem;
}
/*increase font for navbar*/
.home-register-links .nav-link {
    font-size: 1.2rem !important;
}
/*backggorund image of USI */
.index-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.index-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/usiwalpapaer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}
/*contorls the login card on the screen*/
.login-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-card form {
    width: 100%;
}

.login-card .form-group {
    margin-bottom: 20px;
}

.login-card label {
    display: block;
    margin-bottom: 5px;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

.login-card button[type="submit"] {
    border-radius: 5px;
    background-color: #2C4B7A;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.forgot-password-button {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #2C4B7A;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.create-account-text {
    font-size: 14px;
}