@page
@model WebApplication2.Pages.MyclassModel
@{
	ViewData["Title"] = "Myclass page";
}

<div class="d-flex" id="wrapper">
    
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom">Chatbot Dashboard</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            
        </div>
        <div class="sidebar-heading border-bottom">Actions</div>
        
        <button type="button" class="list-group-item list-group-item-action">My Account</button>
    </div>
    </div>

    <!-- /#sidebar-wrapper -->
